// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

$blog_bg: white;

body {
  background: url("bg.jpg")
}

.container {
  background: $blog_bg;
}

main {
  min-height: 75vh;
}

.page-header {
  height: 15vh;
  // padding: 1% 20%;

  .header {
    font-size: 3.5em;
    
    a {
      text-decoration: none;
    }
  }
}

.sign__container {
  background: $blog_bg;

  .sign__links {
    display: inline-block;
    padding-right: 20px;
    font-size: 1.1em;
    
    a, span {
      margin-right: 20px;
    }
  }
}
.form-danger {
  padding: 5px;
  margin-bottom: 5px;
}

.flash {
  div {
    display: inline-block;
  }
}

footer {
}
